.app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .app-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #28a745;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .tracks-list {
    background-color: #28a745;
    list-style: none;
    padding: 0;
  }
  
  .track-item {
    /* margin-bottom: 10px; */
    background-color: #29c64d;
    color: white;
    margin-bottom: 0.5px; 
    font-size: 4px;
  }
  
  .track-link {
    text-decoration: none;
    color: #333;
    /* background-color: #1DB954; */
    font-weight: bold;
    /* font-size: 10px; */
    display: block;
    padding: 2px;
    /* border: 1px solid #ccc; */
    border-radius: 1px;
    transition: background-color 0.3s ease;
  }
  
  /* .track-link:hover {
    background-color: #098125;
  } */

  .mb-3 {
    margin-bottom: 15px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .table {
    width: 100%;
    margin-top: 20px;
  }

  .track-link {
    color: #007bff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }